on: [push]

name: CI

jobs:
  check:
    name: Rust check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup-test-env
      - name: Run cargo check
        shell: bash
        run: |
          cargo check

  test:
    name: Rust test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup-test-env
      - name: Run etcd
        shell: bash
        run: |
          just etcd &
          sleep 3
      - name: Run cargo test
        shell: bash
        run: |
          cargo test