on: [push]

name: CI

jobs:
  check:
    name: Rust check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup-test-env
      - name: Run cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check

  test:
    name: Rust test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup-test-env
      - uses: JarvusInnovations/background-action@v1
        name: etcd
        with:
          run: just etcd
          wait-on: |
            http://localhost:2379
      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test