name: Docs site

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

# Allow this job to clone the repo and create a page deployment
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: blacksmith-2vcpu-ubuntu-2404
    steps:
      - name: Checkout your repository using git
        uses: actions/checkout@v5
      - name: Install, build, and upload your site
        uses: withastro/action@v5
        with:
          path: docs

  deploy:
    needs: build
    if: github.ref == 'refs/heads/main'
    runs-on: blacksmith-2vcpu-ubuntu-2404
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
